@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova.eot");
    src: url("../fonts/ProximaNova.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova.woff") format("woff"),
        url("../fonts/ProximaNova.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: ProximaNova, sans-serif;
    color: #34495e;
    background: #5a46a8;
}

body>iframe {
    display: none;
}

a {
    text-decoration: none;
    color: #34495e;
}

.title {
    margin: 20px 30px 0 30px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #fff;
}

.subtitle {
    margin: 0 0 10px 30px;
    font-weight: lighter;
    font-size: 16px;
    color: #d0cee4;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.module {
    flex-grow: 1;
}

.content {
    margin: 0;
}

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
}

.popup_blocks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popup_block {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    margin: 10px;
    align-items: center;
    background: #f0f4f7;
    border-radius: 8px;
}

.popup_block .far {
    font-size: 24px;
    margin-bottom: 5px;
}

.popup_block:hover {
    background: #ecf6fe;
    cursor: pointer;
}

.popup_close_panel {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    margin: auto;
}

.popup_close .fas {
    cursor: pointer;
}

.popup_close .fas:hover {
    opacity: 0.8;
}

.popup_content {
    position: absolute;
    background: #fff;
    border-radius: 4px;
    z-index: 101;
    padding: 20px;
    min-width: 280px;
    max-width: 500px;
}

.popup_content .popup_text {
    max-height: 300px;
    overflow-x: scroll;
    margin: 0 20px;
}

.popup_close {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    margin: auto;
}

#video_img {
    width: 50vw;
    border-radius: 14px;
    margin: 20px 0;
    max-width: 300px;
}

.btn-file:hover {
    background: #3498db;
    color: #fff;
}

.btn-file .fas {
    font-size: 40px;
    color: #fff;
}

.input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.gradient {
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}

.gradient_cold {
    background-image: linear-gradient(30deg, #009cf3, #16d6d9);
}

.gradient_hot {
    background-image: linear-gradient(30deg, #fe6786, #e89253);
}

.gradient_green {
    background-image: linear-gradient(30deg, #16d6d9, #96cc29);
}

.gradient_junction {
    background-image: linear-gradient(145deg, rgb(188, 87, 0) 0%, rgb(245, 133, 50) 100%);
}

.title_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-file {
    justify-content: center !important;
    background: transparent !important;
    height: 40vh !important;
    border: 2px dashed #fff !important;
    border-radius: 6px !important;
    margin: 20px auto 10px !important;
    width: 60vw !important;
    display: flex !important;
    align-items: center !important;
}
